<div class="container mt-4 w-50">
    <form [formGroup]="resetPasswordForm" class="needs-validation" (ngSubmit)="resetPassword()" novalidate>
        <div class="mt-2 form-group">
            <label for="password">{{ 'field.password' | translate }}</label>
            <input 
            formControlName="password" 
            class="form-control" 
            type="password" 
            name="password"
            id="password" 
            placeholder="Pas$worD" 
            required 
            [class.is-invalid]="resetPasswordForm.controls.password.invalid && resetPasswordForm.controls.password.touched">
            <div class="invalid-feedback">
                {{ 'validation.password' | translate }}
            </div>  
        </div>

        <div class="mt-2 form-group">
            <label for="confirmPassword">{{ 'field.confirmPassword' | translate }}</label>
            <input 
            formControlName="confirmPassword" 
            class="form-control"
            type="password" 
            id="confirmPassword" 
            name="confirmPassword" 
            placeholder="Pas$worD"
            required
            [class.is-invalid]="resetPasswordForm.controls.confirmPassword.invalid && resetPasswordForm.controls.confirmPassword.touched">
            <div class="invalid-feedback">
                {{ 'validation.confirmPassword' | translate }}
            </div>  
        </div>

        <div class="mt-2">
            <button class="btn btn-dark" type="submit">{{ 'motion.confirm' | translate }}</button>
        </div>

        <div *ngIf="errorMessage" class="w-100 mt-2 text-danger text-center">{{errorMessage}}</div>
        <div *ngIf="successMessage" class="w-100 mt-2 text-primary text-center">{{successMessage}}</div>
    </form>
</div>
