a {
    cursor: pointer;
}

a.active {
    background-color: #000;
    color: #fff !important;
    border: 1px solid black;
}

.alert {
    margin-top: 1%;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}