<div class="w-100 d-flex justify-content-center">
    <div 
        *ngIf="message"
        class="w-25 alert d-flex alert-dismissible justify-content-between"
        [class.alert-primary]="level === true"
        [class.alert-danger]="level === false"
    >
        {{ message }}
        <b class="close" (click)="message = ''" aria-label="close" style="cursor: pointer;">&times;</b>
    </div>
</div>
<div class="container mt-2 w-100">
    <div class="d-flex justify-content-center gap-2 flex-wrap">
        <app-voucher-card 
            *ngFor="let voucher of voucherResponse.results?.content"
            [voucher]="voucher"
            (ordered)="orderVoucher($event)"
        >
        </app-voucher-card>
    </div>
    <div *ngIf="isAdmin" class="w-100 text-center pt-4">
        <button (click)="goToManage()" type="button" class="btn btn-dark w-25">+</button>
    </div>
</div>
<div class="container mt-4">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
            <a
                [class.disabled]="page == 0"
                (click)="goToPreviousPage()"
                href="javascript:void(0)" 
                class="page-link text-dark"
            >
                {{ 'navigation.previous' | translate }}
            </a>
        </li>
  
        <li 
            class="page-item"
            *ngFor="let _ of [].constructor(this.voucherResponse.results?.totalPages); let pageIndex = index"
        >
            <a 
                [class.disabled]="pageIndex == page" 
                [class.active]="pageIndex == page" 
                (click)="goToPage(pageIndex)"
                href="javascript:void(0)" 
                class="page-link"
                style="color: #000;"
            >
                {{pageIndex + 1}}
            </a>
        </li>
  
        <li class="page-item">
            <a 
                [class.disabled]="isLastPage"
                (click)="goToNextPage()"
                href="javascript:void(0)" 
                class="page-link text-dark"
            >
                {{ 'navigation.next' | translate }}
            </a>
        </li>
      </ul>
    </nav>
</div>
