<div class="container mt-4 w-50">
    <div>
        <div class="mt-2 form-group">
            <label for="username">{{ 'field.username' | translate }}</label>
            <input [(ngModel)]="authRequest.username" class="form-control" type="text" id="username" placeholder="user2132" required>
        </div>
        <div class="mt-2 form-group">
            <label for="password">{{ 'field.password' | translate }}</label>
            <input [(ngModel)]="authRequest.password" class="form-control" type="password" id="password" placeholder="12345" required>
        </div>

        <div class="mt-2 d-flex justify-content-between">
            <p>{{ 'question.notMember' | translate }} <a class="primary" style="cursor: pointer;" (click)="register()">{{ 'motion.signUp' | translate }}</a></p>
            <button (click)="login()" class="btn btn-dark">{{ 'motion.login' | translate }}</button>
        </div>

        <div *ngFor="let msg of errorMessage" class="w-100 mt-2 text-danger text-center">{{msg}}</div>
    </div>
</div>
