h1.status {
    color: #4b93b0;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size:20px;
    margin: 0;
}

span.status {
    color: #66a1bc;
    font-size: 100px;
    line-height: 200px;
}

.card {
    border: none;
    background: white;
    padding: 60px;
    display: inline-block;
    margin: 0 auto;
}